#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 10000;
    background-color: #f3f3f3;
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #f0f0f0;
}
#footer {
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin-left: 260px;
    width: calc(100% - 260px);
    color: var(--white);
    font-size: 0.8rem;
} 


@media (max-width:800px) {
    #header {
        left: -260px;

        h1{
            position: fixed;
            left: 0; top: 0;
        }
    }
    #main {
        padding-left: 0;
    }
    #footer {
        width: 100%;
        margin-left: 0;
    }
}
                