.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    @media (max-width: 1400px){
        grid-template-columns: repeat(3, 32%);
        gap: 15px;
    }

    @media (max-width: 1200px){
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }

    @media (max-width: 400px){
        grid-template-columns: repeat(1, 100%);
    }
    

    .video {
        margin-bottom: 20px;

        .video__thumb {
            border-radius: 15px;
            overflow: hidden;

            img{
                height: 160px;
                border-radius: 15px;
            }
        
            
        }
        .video__title {
            margin-top: 5px;
            @include line-one;
        }
    }
}


.video__slider{
    
    .video {
        margin-bottom: 20px;

        .video__thumb {

            img{height: 160px;}
            
        }
    }
}

//검색비디오
.video__inner.search {
    min-height: 100vh;
    
    .video {
        font-weight: 600;
        margin-bottom: 15px;
        border-radius: 10px;

        @media (max-width: 600px){
            margin-bottom: 10px;
        }

        .video__thumb {
           

            a {
                position: relative;
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {
            padding: 10px 15px;
            color: #111;
    
            .title {
                font-size: 1rem;
                @include line-two;
            }
            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                
                .author {
                    font-size: 0.9rem;
                    @include line-one;
                    color: #888;
                    transition: all 0.3s;
    
                    &:hover {
                        color: #fff;
                    }
                }
                .date {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }
}
//더보기 버튼
.video__more {
    button {
        margin: 0 auto;
        display: block;
        width: 20%;
        font-size: 1.5rem;
        background-color: var(--pink);
        display: block;
        padding: 0.9rem 2rem 0.9rem 3.125rem;
        border-radius: 40px;
        position: relative;
        line-height: 1;
        color: var(--white);
        transition: all 0.3s;
        font-weight: 600;
        cursor: pointer;

        svg {
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: 20%;
            top: 0.7rem;
        }

        &:hover {
            background-color: var(--black200);
            scale: 1.1;
        }
        
    }
}

// 비디오 페이지 
#videoViewPage {
    // padding: 0 20px;

    @media (max-width: 800px){
        margin-top: 80px;
    }
}
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 40%;
        position: relative;
    }

    .video__info {
        padding-top: 10px;

        .video__title {
            font-weight: 800;
        }

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            @media (max-width:800px) {
                display: inline-block;

                .id {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .count {
                    width: 100%;
                }
            }
            

            .id {
                font-weight: 800;
                background-color: var(--white);
                padding: 10px 30px;
                border-radius: 40px;
                border: 3px solid #111;
                margin-right: 20px;

                &:hover {
                    scale: 1.1;
                    transition: all 0.3s;
                    cursor: pointer;
                    margin-left: 10px;
                }
            }

            .count {
                margin: auto 0;
                font-weight: 800;

                span {
                    background-color: #fff;
                    padding: 10px 20px;
                    border-radius: 40px;
                    border: 3px solid #111;
                    border-radius: 40px;
                    font-size: 14px;
                    margin-left: 10px;


                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .video__desc {
            white-space: pre-line;
            background-color: var(--white);
            border-radius: 30px;
            border: 3px solid var(--black);
            font-size: 0.9rem;
            font-weight: 600;
            padding: 20px;
        }
    } 
}

